language: python
python:
    - 2.6
    - 2.7
    - 3.2
    - 3.3
    - 3.4
before_install:
    - sudo apt-get install vim-gtk
before_script:
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
install:
    - pip install -r tests/requirements.txt
script:
    - vim --version
    - python -m discover -v tests

